.about-me-text {
    position: absolute;
    font-family: 'Lexend Deca';
    font-size: 50px;
    margin: 0px 0;
    font-weight: 700;
    color: #ffffff;
}

.swipedown {
    white-space: nowrap;
    overflow: hidden;
    /* animation: linearwipe 6s steps(60, end); */
    /* nimation: linear(); */
    animation: linearwipe;
    animation-duration: 0.4s;
}

.parentDiv {
    background: linear-gradient(black 5%, var(--background) 25%) !important;
}

@keyframes linearwipe{ 
    from { background-color: transparent; transform: scale(0); }
    to { background-color: #F8CC05; transform: scale(1);} 
}

@keyframes linearwipe2{ 
    from { transform: scale(0); }
    to { transform: scale(1);} 
}  

.profile-picture {
    width: 13vw;
    height: 13vw;
    border-radius: 100%;
    margin: auto;
    margin: auto auto;
    margin-top: 1vw;
    background-color: transparent;
    overflow: hidden;
}

.who-am-i h2{
    font-family: 'Lexend Deca';
    font-size: 50px;
    margin: 20px 0;
    padding: 0;
    font-weight: 600;
    color: #fff;
    margin-bottom: 40px;
}


.snippets h4{
    font-family: 'Lexend Deca';
    font-size: 40px;
    margin: 20px 0;
    padding: 0;
    font-weight: 600;
    color: #fff;
    margin-bottom: 60px;
}

.who-am-i p{
    font-family: 'Lexend Deca';
    font-size: 18px;
    margin: 20px 0;
    padding: 0;
    font-weight: 500;
    color: #fff;
}

.skill {
    width: 3vw;
    height: 3vw;
    border-radius: 3vw;
    position: absolute;
    z-index: 999;
    display: inline;
    border: 5px #000000 solid;
    background-color: red;
    align-items: center;
    justify-content: center;
    animation: linearwipe2;
    animation-duration: 0.3s;
    align-content: center;
    justify-content: center;
}

.subtitle {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 13px;
    font-weight: 600;
    color: #ababab;
    margin: 5px 0;
    padding: 0;
}

.info {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: white;
    margin: 5px 0 58px 0;
    padding: 0;
}

.center-icons {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}