@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

html{
    margin: 0;
    padding: 0;
    background-color: #000000;
    overflow-x: hidden;
}

body{
    margin: 0;
    padding: 0;
}