.header-container {
    width: 100vw;
    margin: 0;
    padding: 5px 50px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    transition: 0.1s ease-in;
}

.header-container ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    list-style: none;
    padding-inline-start: 0;
}

.header-container li {
    padding: 0 10px;
    cursor: pointer;
    color: white;
    font-family: 'Lexend Deca';
    font-size: 17px;
    font-weight: 500;
    transition: 0.2s ease-in;
    margin: 0 15px;
    background: radial-gradient(#151515, #00000000);
    border-radius: 10px;
    padding: 5px 10px;
}
.header-container li:hover {
    color: #FFE500;
    transition: 0.2s ease-in;
}

.header-container img {
    width: 20px;
}